.main-img-container {
  background-color: #c689c6;
  padding: 3px;
}

input::-webkit-file-upload-button {
  font-size: 1.1rem;
  height: 50px;
  width: 130px;
  background-color: transparent;
  border: 1px solid black;
  transition: background-color 200ms ease, color 200ms ease;
  cursor: pointer;
}

input::-webkit-file-upload-button:hover {
  background-color: black;
  color: white;
}

.intro-head {
  color: white;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

#image-collection {
  display: flex;
  flex-wrap: wrap;
  margin-right: 33px;
}

#image-collection li {
  height: 30vh;
  flex-grow: 1;
  list-style-type: none;
}

#image-collection li:last-child {
  flex-grow: 10;
}

#image-collection img {
  height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
